*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.top{
	background: #2e856e;
	height:3em;
	border-radius: 2px 2px 0px 0px;
}
.grid-container{
	display: grid;
	width: 100%;
	grid-gap: .5em;
	height: 100vh;
	background:  #8abaae;
}
::-webkit-scrollbar{
	width: .7em;
}
::-webkit-scrollbar-track{
	background:  #8abaae;
}
::-webkit-scrollbar-thumb{
background: #5ca08e;
display: none;
}
::-webkit-scrollbar-thumb:hover{
display: block;
}

#sidebar{
grid-column: 1/2;
grid-row: 1 / 20;
background: #5ca08e;



}

#page{
grid-column: 2 /  10;
grid-row: 1 /2;
background: #fff;
border-radius: 0px 0px 0px 4px;
}

#content{
grid-column: 2 / 10;
grid-row: 2 / 20;
background: #fff;
border-radius: 4px 0px 0px 0px;
}
.hline{
	width: 100%;
	height: 2px;
	background: #8abaae;
	margin-top: 1em;
}

.profile{
	margin:0 auto;
	max-width: 90%;
	padding: 1.2em;
	
	
}

.name{
	font-size: 1.5em;
	font-weight: bold;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #fff;
}

.handle{
	font-size: 1em;
	padding-bottom: 2em;
	color: #a9a9a9;
	color: rgba(255,255,255,0.8);
}

 button{
	padding: 1em 2em;
	font-weight: bold;
	border: 2px solid #fff;
	color: #fff;
	background: #5ca08e;
}
button:hover{
	color: #5ca08e;
	background: #fff;
}

.profile-container{
	margin: auto;
	width: auto;
}

.options{
	max-width: 90%;
	margin: 1em auto;
}

.options ul{
	padding: 1em;
	margin: auto;
}

.options li{
	padding-bottom: 1em;
	font size: 1.4em;
	font-weight: bold;
	list-style-type: none;
}

.options li a{
	text-decoration: none;
	color: #fff;

}
.options li:hover{
	transform: scale(0.97, 1.07);
}


#Logout{
	margin-left: 10%;
	margin-top: 30%;
}

#page{
	padding: 1em;
}

h1.h1{
	font-size: 2.1em;
}

#content{
	padding: 1em;
}

#content > p{
	font-size:1.2em;
	font-weight: 400;

}
img{
	border: 2px solid #fff;
	border-radius: 5px;
}
.eventbtn{
	border-radius: 10px;
	margin-bottom: 2em;
}

.focusbtn{
	margin-right: 1em;
	padding: 1em 2.4em;
	font-size: 1.2em;
	font-weight: bold;
	background: #fff;
	color: #5ca08e;
	border: 2px solid #5ca08e;
}
.fa-plus-square{
	font-size: 2.5em;
	margin-left: 1em;
	color: #5ca08e;
}

.addappbtn{
	border-radius: 10px;
	background: #5ca08e;
	border: none;
	color: #fff;
	outline: none;
}
.addappbtn:hover{
	color: #5ca08e;
	background:#fff; 

}

.focus-apps > p{
	
	font-size: 2em;
	font-weight: bold;
}
.focus-apps{
	display: flex;
	justify-content: space-between;
	margin: 2.5em 0 1em 0;
}

.col1{
	display: flex;
	justify-content: space-between; 
}

.col1 > h5{
	margin: auto auto auto 2px;
}
.appbtn,.close{
	float: right;
	border: 2px solid #5ca08e;
	box-shadow: 1px 2px rgba(255,255,255,0.1);
	padding: 0.8em 1.2em;
	margin-bottom: 1em;
	background: #fff;
	color: #5ca08e;
}
.appbtn:hover , .focusbtn:hover{
	background: #5ca08e;
	color: #fff;
}

.big{
	margin-right: 3px;
}